@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nakayama<br />
    Culiacán, Sin<br />
    <abbr title="Phone">Tel:</abbr>
    (667) 206 5513
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">jorgequintanas@hotmail.com</a><br />
</address>