@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>ASP.NET MVC - Java Spring Boot</h1>
    <p class="lead">Aplicación Escolar (WEB ASP.NET MVC)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>REST API</h2>
        <p>
            Aplicación que consume REST API de Java Spring Boot
        </p>
    </div>
    <div class="col-md-4">
        <h2>CRUD</h2>
    </div>
    <div class="col-md-4">
        <h2>Jorge Quintana</h2>
        <p>Jorge Humberto Quintana Santiesteban</p>
        <p>jorgequintanas@hotmail.com</p>
    </div>
</div>